**/__pycache__/**

models/*.ckpt
models/*.pth
models/*.onnx
models/*.trt
models/liveportrait_onnx/*.onnx
models/liveportrait_onnx/*.trt
*.json
merged_embeddings.txt
.vs
*.sln
*.pyproj
tensorrt-engines
tensorrt-engines-cu118/
tensorrt-engines-cu124/
